.colors {
  black: #0f0706;
  dgrey: #383636;
  mgrey: #b3aead;
  lgrey: #c4bfbe;
  hwhite: #f1edec;
  hblue: #0797bc;
  hblue2: #0c7a95;
  lblue: #91b1b8;
  hyellow: #ddcd40;
  hred: #d64422;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #c4bfbe;
  /*background-image: url('/images/HB_Hero.png');*/
}

a {
  color: #91b1b8;
  text-decoration: none;
  justify-content: space-evenly;
  padding-right: 8%;
  /* margin-right: 20%; */
  /* line-break: normal; */
}

a:hover {
  color: #ddcd40;
}

h1 {
  display: flex;
  font-size: 300%;
  color: #0797bc;
}

h2 {
  display: flex;
  font-size: 200%;
  color: #0c7a95;
  justify-content: start;
  padding-left: 15%;
  /* justify-content: center; */
}

p {
  font-size: 150%;
  color: #0f0706;
  text-indent: 5%;
  padding: 0px 16px;
}

.topSection {
  display: flex;
  background-color: #f1edec;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
  /* border: #f1edec; */
  /* border-radius: 5px; */
  /* text-align: center; */
  /* flex-direction: row; */
}

.linkFrags {
  display: flex;
  font-size: 160%;
  padding: 1%;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
}

.products,
.about,
.projects,
.subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #b3aead; */
  border: solid #f1edec;
  border-width: 0px 2px;
  margin: 2% 15%;
  background-image: linear-gradient(180deg, #f1edec 0%, #c4bfbe 25%);
  /* border: #f1edec; */
  /* justify-content: center; */
}

.footerLinks {
  display: flex;
  padding: 1% 0% 5% 0%;
  justify-content: space-around;
}

footer {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  /* text-align: center; */
  /* align-items: center; */
}

.footerLink {
  display: flex;
  text-align: center;
  font-size: 150%;
  color: #0c7a95;
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-right: 5%; */
}

.footerLink:hover {
  color: #f1edec;
}
/* .topDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
} */
