body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #383636;
  /*background-image: url('/images/HB_Hero.png');*/
}

a {
  color: #91b1b8;
  text-decoration: none;
  margin-right: 50px;
}

a:hover {
  color: #ddcd40;
}

h1 {
  font-size: 50px;
  color: #0797bc;
}

h2 {
  font-size: 30px;
  color: #c4bfbe;
}

p {
  text-indent: 50px;
}

/* .topDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 } */

.topSection {
  display: flex;
  border: #f1edec;
  border-radius: 5px;
  align-items: center;
  flex-grow: 1;
  justify-content: space-evenly;
  background-color: #f1edec;
  /* background-image: linear-gradient(180deg, #f1edec 0%, #383636 200%); */
  /* text-align: center; */
  /* flex-direction: row; */
}

.linkFrags {
  display: flex;
  font-size: 25px;
  justify-content: space-evenly;
  /* justify-content: flex-end; */
}

.about {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
}

footer {
  text-align: center;
}
